.plusLiquid {
    background-color: #3a4157;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    position: absolute;
    top: 86px;
    left: 155px;
    color: #5F6783;
    border: 3px solid #0E111B;
    font-size: 12px;
    transition: 0.3s
  }